html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

blockquote, q {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    quotes: "" "";
}
blockquote:before, q:before, blockquote:after, q:after {
    content: "";
}

th, td, caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

a img {
    border: none;
}

.more-toggle {
    cursor: pointer;
}



body {
    font-family: Arial, Helvetica;
    font-size: 1em;
}

#header {
    background-color: #2e3436;
    color: white;
    padding: 2em 2em 0 2em;
}
    #header h1 {
        font-size: 1.6em;
        font-weight: bold;
        letter-spacing: -1px;
    }
    #header .header_menu {
        position: absolute;
        right: 10px;
        top: 10px;
    }
        #header .header_menu li {
            float: right;
            list-style: none;
        }
            #header .header_menu li a {
                text-decoration: none;
                display: block;
                padding: 0em 1em;
                color: white;
            }
            #header .header_menu li a:hover {
                background-color: #e74c00;
                -moz-border-radius: 5px;
            }

.calendar {
    position: relative;
}
.calendar table {
    margin: 0 auto;
}
    .calendar thead {
        background-color: #e74c00;
        color: white;
        -moz-box-shadow: silver -5px 5px 5px;
        -webkit-box-shadow: silver -5px 5px 5px;
                box-shadow: silver -5px 5px 5px;
        overflow: clip;
    }
        .calendar thead th {
            padding: .5em 1em;
            text-align: center;
        }
    .calendar td {
        padding: .3em .7em;
        height: 100px;
        width: 14%;
        border-right: 1px dotted #ddd;
        border-bottom: 1px dotted #ccc;
    }
        .calendar td:first-child {
            width: 2%;
            border-color: #aaa;
            background-color: #eee;
            -moz-box-shadow: silver 5px 0px 5px;
            -webkit-box-shadow: silver 5px 0px 5px;
                    box-shadow: silver 5px 0px 5px;
            
        }
        .calendar td.today {
        }
            .calendar td.today .calendar_daynumber {
                text-shadow: 1-px -1px 0 white;
                color: #e74c00;
            }
    .calendar .issues {
        background-color: #2e3436;
    }
        .calendar .issues .calendar_daynumber {
            color: #61caff;
            text-shadow: -1px -1px 0 #000;
        }
        .calendar .issues a {
            color: white;
            text-decoration: none;
            display: block;
        }
        .calendar .issues a:before {
            -moz-border-radius:3px 3px 3px 3px;
            display:inline-block;
            font-weight:bold;
            padding:1px 4px;
            margin-right: 2px;
            text-decoration: none !important;
        }
            .calendar li.s10000 a:before {
                content: 'Pre';
                background:none repeat scroll 0 0 #B6B6B6;
                color:#3B3B3B;
                text-shadow:0.1em 0.1em 0 #CFCFCF;
            }
            .calendar li.s10007 a:before {
                content: 'Dev';
                background:none repeat scroll 0 0 #6B6B6B;
                color:#FFFFFF;
                text-shadow:-0.1em -0.1em 0 #464646;
            }
            .calendar li.s10008 a:before {
                content: 'QA Rdy';
                background:none repeat scroll 0 0 #009ADD;
                color:#003D57;
                text-shadow:0.1em 0.1em 0 #59BDE9;
            }
            .calendar li.s10009 a:before {
                content: 'In QA';
                background:none repeat scroll 0 0 #006997;
                color:#FFFFFF;
                text-shadow:-0.1em -0.1em 0 #004462;
            }
            .calendar li.s10012 a:before {
                content: 'QA Fail?';
                background:none repeat scroll 0 0 #F80000;
                color:#550000;
                text-shadow:0.1em 0.1em 0 #FA5959;
            }
            .calendar li.s10011 a:before {
                content: 'QA Failed';
                background:none repeat scroll 0 0 #C10000;
                color:#FFFFFF;
                text-shadow:0.1em 0.1em 0 #7E0000;
            }
            .calendar li.s10006 a:before {
                content: 'Prod Rdy';
                background:none repeat scroll 0 0 #5EBC32;
                color:#123A00;
                text-shadow:0.1em 0.1em 0 #96D37A;
            }
            .calendar li.s6 a:before, .calendar li.s10010 a:before {
                content: 'In Prod';
                background:none repeat scroll 0 0 #267700;
                color:#FFFFFF;
                text-shadow:-0.1em -0.1em 0 #216800;
            }
            
        .calendar .issues .calendar_issues_resolved a {
            -moz-opacity: 0.8;
            opacity: 0.8;
        }

    .calendar_header {
        padding: .3em 2em 2em 2em;
        background-color: #2e3436;
        color: white;
    }
        .calendar_header h2 {
            font-size: 1.2em;
            letter-spacing: -1px;
        }
        .calendar_header .calendar_menu {
            position: absolute;
            top: 0px;
            right: 10px;
        }
        .calendar .calendar_menu li {
            float: right;
            list-style: none;
        }
        .calendar .calendar_menu li a {
            text-decoration: none;
            display: block;
            padding: 0em 1em;
            color: white;
        }
        .calendar .calendar_menu li a:hover {
            background-color: #e74c00;
            -moz-border-radius: 5px;
        }

    .calendar_daywrapper {
        text-align: right;
        position: relative;
        height: 100%;
    }
        .calendar_daywrapper .calendar_issueslist {
            position: relative;
            text-align: left;
            font-size: .7em;
            color: #2e3436;
            margin: 0;
            list-style: none;
        }
        .calendar_daywrapper .calendar_daynumber {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 3em;
            color: #ececec;
        }

    .calendar_weeknumber {
        color: #ccc;
        font-size: 2em;
        text-shadow: -1px -1px 0 #fff;
        letter-spacing: -4px;
    }

.next:after {
    content: '➠';
    padding-left: 1em;
}

.prev:before {
    content: '➠';
    padding-left: 1em;
    -moz-transform: rotate(180deg);
}

.cal {
    border-collapse: collapse;
}

#content .statuses {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    display: inline-block;
    border-bottom: 1px solid silver;
    font-size: 0.7em;
    font-weight: normal;
    line-height: 35px;
    background-color: #E74C00;
    color: white;
    -moz-box-shadow: silver -5px 5px 5px;
    -webkit-box-shadow: silver -5px 5px 5px;
            box-shadow: silver -5px 5px 5px;
    
}
#content .statuses {
    display: block;
}
    #content .statuses li {
        list-style-type: none;
        white-space: nowrap;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 30%;
        display: inline;
        float: left;
        font-weight: bold;
    }
    
    * html #content .statuses li {
        overflow-x: hidden;
    }
        #content .statuses li.first {
            padding-left: 0.5em;
        }
        #content .statuses li.last {
            padding-right: 0px;
        }
    
    #content .statuses li.status {
        width: 11%;
    }
    * html #content .statuses li.status {
        overflow-x: hidden;
    }
    #content .statuses li.last {
        display: inline;
        float: left;
        margin-right: 0;
    }
    * html #content .statuses li.last {
        overflow-x: hidden;
    }
        .statuses li span {
            padding-left: 40px;
            background-position: left center;
            background-repeat: no-repeat;
            display: block;
        }

        .statuses li.s10000 span {
            background-image: url('../images/statuses/in-planning.png');
        }
        .statuses li.s10007 span {
            background-image: url('../images/statuses/in-development.png');
        }
        .statuses li.s10008 span {
            background-image: url('../images/statuses/ready-for-qa.png');
        }
        .statuses li.s10009 span {
            background-image: url('../images/statuses/in-qa.png');
        }
        .statuses li.s10012 span {
            background-image: url('../images/statuses/sugg-qa-fail.png');
        }
        .statuses li.s10006 span {
            background-image: url('../images/statuses/ready-for-prod.png');
        }
        
#content ul.issues {
    list-style: none;
}
    #content ul.issues li {
        position: relative;
        border-bottom: 1px solid silver;
        line-height: 35px;
    }
        #content ul.issues li:last-child {
            border-bottom: none;
        }
    #content ul.issues li .key {
        font-weight: bold;
        font-size: 1.5em;
        padding-left: 0.5em;
    }
    #content ul.issues li .title {
        vertical-align: baseline;
    }
    #content ul.issues li .more {
        display: none;
        padding-right: 620px;
        padding-left: 1em;
        margin-bottom: 1em;
        line-height: 1.1em;
    }
        #content ul.issues li .more dt {
            font-weight: bold;
        }
        #content ul.issues li .more dd {
            margin-left: 2em;
            margin-bottom: 0.1em;
        }
    #content ul.issues li .marker {
        position: absolute;
        line-height: 35px;
        display: block;
        width: 100px;
        height: 33px;
        margin-top: 1px;
        background-image: url('../images/blue-pushpin.png'), url('../images/msmarker.shadow.png');
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 40px;
        top: 0;
        left: 100px;
    }
    #content ul.issues li.overdue .marker {
        background-image: url('../images/red-pushpin.png'), url('../images/msmarker.shadow.png');
    }
    #content ul.issues li.s10000 .marker {
        left: 30%;
    }
    #content ul.issues li.s10007 .marker {
        left: 41%;
    }
    #content ul.issues li.s10008 .marker {
        left: 52%;
    }
    #content ul.issues li.s10009 .marker {
        left: 63%;
    }
    #content ul.issues li.s10012 .marker {
        left: 74%;
    }
    #content ul.issues li.s10006 .marker {
        left: 85%;
    }

#content ul.rolled li .marker, #content ul.failed li .marker {
    display: none !important;
}

#content h3 {
    line-height: 35px;
    font-size: 1.5em;
    margin-top: 1em;
    padding-top: 1em;
    padding-left: .3em;
    background: -moz-linear-gradient(top, #eee,white);  
}