<!DOCTYPE html>
<html lang="en">
<head>
    <title>JIRA Status web-app</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script src="[% c.uri_for('/static/js/more.js') %]"></script>
    <link href="[% c.uri_for('/static/css/screen.css') %]" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for('/static/css/print.css') %]" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link href="[% c.uri_for('/static/css/ie.css') %]" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body id="index">
    <div class="container">
        <div id="header">
            <h1>JIRA Status web-app</h1>
            <div class="header_menu">
                <ul>
                    <li><a href="[% c.uri_for('/cal') %]">Calendar</a></li>
                    <li><a href="[% c.uri_for('/') %]">Progress</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            [% content %]
        </div>
    </div>
</body>